	<div #container style="width:100%;height:100%;border:none;border-width:1px;border-color:gray;font-size:small;">

	<!--[height] ="getHeight(container)"-->
	<dx-data-grid style="width:100%;height:100%;"
				  [allowColumnReordering]="true" id="projects"
				  [allowColumnResizing]="true"
				  [errorRowEnabled]="false"
				  [rowAlternationEnabled]="true"
				  columnResizingMode="widget"
				  [customizeColumns]="customizeColumns"
				  [dataSource]="dataSource"
				  [showRowLines]="true"
				  [columnAutoWidth]="true"
				  [columnFixing]="true"
				  [(selectedRowKeys)]="selected"
				  (onCellPrepared)="onCellPrepared($event)"
				  (onEditingStart)="onEditingStart($event)"
				  (onEditorPreparing)="onEditorPreparing($event)"
				  (onRowPrepared)="onRowPrepared($event)"
				  (onOptionChanged)="onSearch($event)"
				  (onRowClick)="onRowClick($event)">
		<dxo-filter-row [visible]="showFilterRow"
						[applyFilter]="currentFilter"></dxo-filter-row>
		<dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
		<dxo-state-storing type="custom"
						   [enabled]="true"
						   [savingTimeout]="1500"
						   [customLoad]="loadProjectViewerState"
						   [customSave]="saveProjectViewerState">
		</dxo-state-storing>
		<dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
		<dxo-column-chooser [enabled]="true"
							mode="select">
		</dxo-column-chooser>
		<dxi-column [allowEditing]="false"
					[allowSearch]="false"
					dataField="traceId"
					dataType="string"
					[showInColumnChooser]="false"
					[visible]="false">
		</dxi-column>
		<dxi-column [allowEditing]="false"
					[allowSearch]="true"
					dataField="deviceId"
					dataType="string"
					[showInColumnChooser]="true"
					[caption]="translate('dxDataGrid-deviceId')"
					width="auto"
					[visible]="true">
		</dxi-column>
		<dxi-column [allowEditing]="false"
					[allowSearch]="false"
					dataField="ownerName"
					[caption]="translate('dxDataGrid-ownerName')"
					dataType="string"
					[showInColumnChooser]="false"
					[visible]="false">
		</dxi-column>
		<dxi-column dataField="name"
					dataType="string"
					[caption]="translate('dxDataGrid-name')"
					[editorOptions]="{ maxLength: 256 }"
					width="auto">
		</dxi-column>
		<dxi-column [allowEditing]="false"
					dataField="fileName"
					dataType="string"
					[caption]="translate('dxDataGrid-fileName')"
					width="auto"
					[editorOptions]="{ maxLength: 256 }">
		</dxi-column>
		<dxi-column [allowEditing]="false"
					[calculateDisplayValue]="formatFileSize"
					calculateSortValue="fileSize"
					dataField="fileSize"
					dataType="number"
					[caption]="translate('dxDataGrid-fileSize')"
					[formItem]="{ visible: false }"
					width="auto">
		</dxi-column>
		<dxi-column dataField="testName"
					dataType="string"
					[caption]="translate('dxDataGrid-testName')"
					width="auto"
					[editorOptions]="{ maxLength: 256 }">
		</dxi-column>
		<dxi-column dataField="testType"
					dataType="string"
					[caption]="translate('dxDataGrid-testType')"
					width="auto"
					[editorOptions]="{ maxLength: 256 }">
		</dxi-column>
		<dxi-column dataField="channel"
					dataType="string"
					[caption]="translate('dxDataGrid-channel')"
					width="auto"
					[editorOptions]="{ maxLength: 256 }">
		</dxi-column>
		<dxi-column dataField="tag"
					dataType="string"
					[caption]="translate('dxDataGrid-tag')"
					width="auto"
					[editorOptions]="{ maxLength: 256 }">
		</dxi-column>
		<dxi-column [allowEditing]="false"
					[calculateFilterExpression]="calculateDateTimeFilterExpression"
					[caption]="translate('dxDataGrid-createdAt')"
					dataField="createdAt"
					dataType="date"
					format="shortDateShortTime"
					[formItem]="{ visible: false }"
					width="auto">
		</dxi-column>
		<dxi-column [allowEditing]="false"
					[calculateFilterExpression]="calculateDateTimeFilterExpression"
					dataField="updatedAt"
					dataType="date"
					[caption]="translate('dxDataGrid-updatedAt')"
					format="shortDateShortTime"
					[formItem]="{ visible: false }"
					width="auto">
		</dxi-column>
		<dxi-column dataField="mass"
					[caption]="translate('dxDataGrid-mass')"
					dataType="number"
					width="auto">
		</dxi-column>
		<dxi-column [caption]="translate('dxDataGrid-activeMaterialFraction')"
					dataField="activeMaterialFraction"
					dataType="number"
					width="auto"
					[allowSearch]="false"
					[visible]="false">
		</dxi-column>
		<dxi-column [caption]="translate('dxDataGrid-theoreticalCapacity')"
					dataField="theoreticalCapacity"
					dataType="number"
					width="auto"
					[allowSearch]="false"
					[visible]="false">
		</dxi-column>
		<dxi-column dataField="area"
					[caption]="translate('dxDataGrid-area')"
					dataType="number"
					width="auto">
		</dxi-column>
		<dxi-column [allowEditing]="false"
					[calculateDisplayValue]="formatNumCycles"
					[caption]="translate('dxDataGrid-numCycles')"
					dataField="numCycles"
					dataType="number"
					[formItem]="{ visible: false }"
					width="auto">
		</dxi-column>
		<dxi-column dataField="batteryName"
					dataType="string"
					[caption]="translate('dxDataGrid-batteryName')"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column dataField="build"
					dataType="string"
					[caption]="translate('dxDataGrid-build')"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column dataField="packSupplier"
					[caption]="translate('dxDataGrid-packSupplier')"
					dataType="string"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column dataField="cellSupplier"
					dataType="string"
					[caption]="translate('dxDataGrid-cellSupplier')"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column dataField="temperature"
					[caption]="translate('dxDataGrid-temperature')"
					width="auto"
					dataType="number">
		</dxi-column>
		<dxi-column dataField="testOwner"
					dataType="string"
					[caption]="translate('dxDataGrid-testOwner')"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column dataField="serialNumber"
					dataType="string"
					[caption]="translate('dxDataGrid-serialNumber')"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column dataField="technology"
					dataType="string"
					[caption]="translate('dxDataGrid-technology')"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column [allowEditing]="true"
					[calculateFilterExpression]="calculateDateTimeFilterExpression"
					dataField="startDate"
					dataType="date"
					[caption]="translate('dxDataGrid-startDate')"
					format="shortDateShortTime"
					[formItem]="{ visible: true }"
					width="auto">
		</dxi-column>
		<dxi-column dataField="nameplateCapacity"
					[caption]="translate('dxDataGrid-nameplateCapacity')"
					dataType="string"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column dataField="tester"
					[caption]="translate('dxDataGrid-tester')"
					dataType="string"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column dataField="procedure"
					[caption]="translate('dxDataGrid-procedure')"
					dataType="string"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column dataField="comments"
					[caption]="translate('dxDataGrid-comments')"
					dataType="string"
					width="auto"
					[editorOptions]="{ maxLength: 256, height: 100 }">
		</dxi-column>
		<dxi-column dataField="deviceName"
					[caption]="translate('dxDataGrid-deviceName')"
					dataType="string"
					width="auto"
					[editorOptions]="{ maxLength: 128 }">
		</dxi-column>
		<dxi-column [allowEditing]="false"
					[allowSearch]="false"
					[caption]="translate('dxDataGrid-stitchedFromNames')"
					dataField="stitchedFromNames"
					dataType="string"
					[showInColumnChooser]="false"
					[visible]="false">
		</dxi-column>
		<dxo-editing [allowDeleting]="false"
					 [allowUpdating]="false"
					 mode="form">
			<dxo-form [customizeItem]="customizeItem">
			</dxo-form>
		</dxo-editing>
		<dxo-filter-panel [visible]="true"></dxo-filter-panel>
		<dxo-filter-builder-popup [position]="filterBuilderPosition">
		</dxo-filter-builder-popup>
		<dxo-filter-row [visible]="filterRowVisible"></dxo-filter-row>
		<dxo-grouping [contextMenuEnabled]="true">
		</dxo-grouping>
		<dxo-group-panel [visible]="true">
		</dxo-group-panel>
		<dxo-pager [allowedPageSizes]="[10, 20, 50]"
				   [showInfo]="true"
				   [showNavigationButtons]="true"
				   [showPageSizeSelector]="true"
				   [visible]="true">
		</dxo-pager>
		<dxo-paging [enabled]="true"
					[pageSize]="10">
		</dxo-paging>
		<dxo-selection mode="none"
					   [allowSelectAll]="false">
		</dxo-selection>
		<dxo-search-panel [visible]="true">
		</dxo-search-panel>
		<!--<dxo-search-panel [visible]="true"
					  [width]="getWidth(txtFilter)">
		</dxo-search-panel>-->
		<!--<dxo-scrolling [showScrollbar]="onHower"
				   [useNative]="false">
		</dxo-scrolling>-->
	</dx-data-grid>
</div>
